@page "/NutritionSearch"
@inject NavigationManager Navigation
@using global::Services.NutrientServices
@using Entities.NutrientEntities
@inject INutrientService NutrientService

<h3>NutritionSearch</h3>

<div class="search-container">
    <input  @oninput="OnSearchChanged" placeholder="Search..." />
</div>

@if (!string.IsNullOrWhiteSpace(searchTerm))
{
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var nutrient in _nutrientList)
        {
            <div class="col">
                <div class="border border-4 card h100" >
                    <img @onclick="() => NavigateToDetails(nutrient.Id)" src="@nutrient.image" class="border-bottom card-img-top" alt="@nutrient.Name" width="80" height="320" />
                    <div class="card-body">
                        <h5 class="card-title text-danger">@nutrient.Name</h5>
                        <p class="card-text">Calories: @nutrient.kcal kcal</p>
                        <p class="card-text">Carbs: @nutrient.carbonhydrate g</p>
                        <p class="card-text">Protein: @nutrient.protein g</p>
                        <p class="card-text">Fat: @nutrient.fat g</p>
                    </div>
                </div>
            </div>
            @* <li @onclick="() => NavigateToDetails(nutrient.Id)">
                <img src="@nutrient.image" alt="@nutrient.Name" />
                <h3>@nutrient.Name</h3>
                <p>Calories: @nutrient.kcal kcal</p>
                <p>Carbs: @nutrient.carbonhydrate g</p>
                <p>Protein: @nutrient.protein g</p>
                <p>Fat: @nutrient.fat g</p>
            </li> *@
        
        }
    </div>
}
else if (!string.IsNullOrWhiteSpace(searchTerm))
{
    <p>No results found for "@searchTerm".</p>
}

@code {
    private string searchTerm = "";


    private List<NutrientResponseModel>? _nutrientList;



    private void NavigateToDetails(int id)
    {
        Navigation.NavigateTo($"/NutritionDetail/{id}");
    }

    protected override async Task OnInitializedAsync()
    {

        await base.OnInitializedAsync();

        //_nutrientList = await NutrientService.GetAllNutrientList();
        _nutrientList = await NutrientService.GetNutrientDetailByName(searchTerm);

        if(searchTerm == null)
        {
            _nutrientList.Clear();
        }

    }

    private async Task OnSearchChanged(ChangeEventArgs e)
    {
        searchTerm = e.Value.ToString();
        if (string.IsNullOrWhiteSpace(searchTerm))
        {
            // Eğer arama terimi boşsa tüm ürünleri getir
            _nutrientList.Clear();
        }
        else
        {
            // Arama terimi varsa API'den sadece ilgili sonuçları getir
            _nutrientList = await NutrientService.GetNutrientDetailByName(searchTerm);
        }
    }
}

